/* ===============================
   HOME HERO
================================ */


.hero-about {
    padding: 40px 0 20px 0;
}

.home-hero {
    max-width:100%;
    min-height: calc(100vh - var(--navbar-height));
    display: flex; flex-direction: column; justify-content: center;
    background: linear-gradient(
            270deg,
            #F7F2EE 0%,
            #FFFFFF 50%,
            #f1e8e0 100%
    );
    border: 1px solid #e3d9d1;
}

.hero-box {
    padding: 48px 40px;
    color: #fff;
    position: relative;
    background: url(../../assets/images/about_background.png);
    background-size: cover;
    margin: 0 auto 50px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.35);
}

.btn-hero {
    padding: 10px 20px;
    border-radius: var(--btn-radius);
    font-size: clamp(0.8rem, 1.2vw, 0.95rem);
    font-weight: bold;
    transition: var(--transition);
    display: inline-block;
    border: none;
    cursor: pointer;
}

.btn-contact-hero {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: var(--white);
    backdrop-filter: blur(5px);
}
.btn-contact-hero:hover { background: rgba(255, 255, 255, 0.25); transform: translateY(-2px); }

.btn-catalog-hero {
    background: var(--grad-hero-btn);
    color: var(--white);
}
.btn-catalog-hero:hover { transform: translateY(-2px); box-shadow: 0 5px 15px rgba(0,0,0,0.2); }

.hero-content {
    font-weight: bold;
    max-width: 520px;
    color: #fff;
}

.font-color-linear{
    background: linear-gradient(318deg, #FFFFFF 0%, #bc885e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.hero-content h1 {
    font-size: clamp(1.6rem, 3.5vw, 2.5rem);
    line-height: 1.25;
    margin-bottom: 16px;
}

.hero-content p {
    font-size: clamp(0.8rem, 1.3vw, 0.95rem);
    line-height: 1.6;
    opacity: 0.9;
    margin-bottom: 28px;
}

.hero-actions {
    display: flex;
    gap: 14px;
}

.hero-stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.stat-item {
    background: linear-gradient(
            135deg,
            #FFFFFF 0%,
            #f4e7d9 100%
    );
    border-radius: 12px;
    padding: 18px;
    text-align: left;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}
.stat-item:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0,0,0,.08);
}
.stat-item strong {
    font-size: clamp(0.85rem, 1.5vw, 1.25rem);
    display: block;
}

.stat-item strong.stat-highlight {
     font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: 1000;
 }
.stat-item span {
    font-size: clamp(0.7rem, 1vw, 0.8rem);
    color: #666;
}

/* ===============================
   SECTION COMMON
================================ */

.section-highlight{
    background: linear-gradient(135deg, #746456 0%, #BEA48E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.home-section {
    border: 1px solid #e3d9d1;
    min-height: calc(100vh - var(--navbar-height));
    display: flex; flex-direction: column; justify-content: center;
    padding: 60px 0;
    background: linear-gradient(
            135deg,
            #F7F2EE 0%,
            #FFFFFF 50%,
            #f1e8e0 100%
    );
}

.section-tag {
    margin-bottom: 24px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    gap: 8px;

    padding: 3px 7px;
    border-radius: 999px;

    font-size: clamp(0.65rem, 1vw, 0.75rem);
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;

    background: linear-gradient(
            180deg,
            rgba(116, 100, 86, 0.1) 00%,
            rgba(190, 164, 142, 0.2) 100%
    );

    border: 1px solid #e3d9d1;
}

.section-tag img {
    width: 16px;
    height: 16px;
    display: block;
}


.home-section h2 {
    font-size: clamp(1.4rem, 2.8vw, 2rem);
    line-height: 1.3;
    margin-bottom: 18px;
}

.home-section p {
    font-size: clamp(0.8rem, 1.2vw, 0.95rem);
    line-height: 1.7;
    color: rgba(81, 60, 46, 0.7);
}

/* ===============================
   TWO COLUMN
================================ */
.two-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}



.two-col img {
    width: 100%;
    border-radius: 14px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

/* ===============================
   ADVANTAGES
================================ */
.home-advantages {
    text-align: center;
    border: 1px solid #e3d9d1;
    min-height: calc(100vh - var(--navbar-height));
    display: flex; flex-direction: column; justify-content: center;
    padding: 60px 0;
    background: linear-gradient(
            135deg,
            #F7F2EE 0%,
            #FFFFFF 50%,
            #f1e8e0 100%
    );
}

.home-advantages h2 {
    font-size: clamp(1.4rem, 2.8vw, 2rem);
    margin-bottom: 12px;
}

.home-advantages .section-desc {
    color: #aaa;
    max-width: 730px;
    margin: 0 auto 50px;
    font-size: clamp(0.75rem, 1.1vw, 0.875rem);
}

.advantage-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}
.advantage-card {
    border: 1px solid rgb(193, 183, 175);
    background: #fff;
    border-radius: 16px;
    padding: 28px;
    text-align: left;

    box-shadow: 0 12px 30px rgba(0,0,0,0.25);
    transition:
            transform 0.25s ease,
            box-shadow 0.25s ease;
}

.advantage-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 45px rgba(0,0,0,0.35);
}


.advantage-card h3 {
    font-size: clamp(0.95rem, 1.5vw, 1.125rem);
    margin-bottom: 10px;
    font-weight: bold;
}

.advantage-card p {
    font-size: clamp(0.75rem, 1.1vw, 0.875rem);
    color: #555;
    line-height: 1.6;
}

/* ===============================
   CTA
================================ */

.cta-box {
    margin-top: 100px;
    background: linear-gradient(
            135deg,
            #F7F2EE 0%,
            #FFFFFF 50%,
            #f1e8e0 100%
    );
    border-radius: 20px;
    padding: 60px;
    text-align: center;
    box-shadow: 0 25px 50px rgba(0,0,0,0.4);
}

.cta-box h2 {
    font-size: clamp(1.3rem, 2.5vw, 1.75rem);
    margin-bottom: 12px;
    color: #3b2a1f;
}

.cta-box p {
    font-size: clamp(0.8rem, 1.2vw, 0.95rem);
    color: #666;
    max-width: 640px;
    margin: 0 auto 28px;
}

.section-top{
    padding-bottom: 40px;
    border: none;
    border-bottom: 1px solid transparent;

    border-image: linear-gradient(
            to right,
            rgba(188,114,51,0) 0%,
            rgba(191, 153, 125, 0.6) 50%,
            rgba(188,114,51,0) 100%
    ) 1;
}
.col-text{
    padding-bottom: 20px;
    border: none;
    border-bottom: 1px solid transparent;

    border-image: linear-gradient(
            to right,
            rgb(135, 110, 88) 0%,
            rgba(139,106,79,0) 100%
    ) 1;
}

.cta-actions {
    display: inline-flex;
    width: auto;
    justify-content: center;
    gap: 14px;
    text-align: center;
    padding: 9px 16px;
    background: linear-gradient(272deg, #513C2E 0%, #746456 100%);
    border-radius: 8px;
    font-size: clamp(0.7rem, 1vw, 0.8rem);
    font-weight: bold;
    color: #fff;
    transition: background 0.2s ease;
}

.cta-actions:hover {
    transform: translateY(-6px);
}
/* ===============================
   RESPONSIVE
================================ */
@media (max-width: 992px) {
    .hero-stats {
        grid-template-columns: repeat(2, 1fr);
    }

    .two-col {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .advantage-grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {
    .cta-box {
        margin-top: 60px;
        padding: 40px 24px;
    }
    .hero-about {
        padding: 20px 0 10px 0;
    }
}
